*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: white;
}

html, body{
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.182) 78.1%, rgba(63, 61, 61, 0));

}

#nav{
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 150px;
    gap: 50px;
    position: fixed;
    justify-content: flex-start;
    z-index: 99;
    /* background: linear-gradient(180deg, rgba(0, 0, 0, .474) 78.1%, rgba(63, 61, 61, 0)); */
}

#nav img{
    height: 80px;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#main{
    position: relative;
    background-color: 0,0,0,37.5;

}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#page1 h1{
    font-size: 100px;
    font-weight: 900;
    color: green;
    position: relative;
}
#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: white;
    -webkit-text-stroke: 1px red;
    top: 10px;
    left: 0px;
}
#page1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 10px;
}
#page1 p{
    font-size: 20px;
    font-weight: 500;
    width: 40%;

}